html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#layout {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #3a3a3c;
}

#canvas {
    image-rendering: pixelated;
    user-select: none;
}

#pixel {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: blue;
    z-index: 121;
    pointer-events: none;
}

#palette {
    position: relative;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
    z-index: 122;
}

.picker {
    width: 50px;
    height: 50px;
    border: 2px;
    z-index: 123;
}
